# http://docs.python.org/distutils/sourcedist.html#the-manifest-in-template

recursive-include wpt *.py
recursive-include conf *
exclude tests/*
exclude docs/*
exclude build/*
exclude dist/*
exclude *.egg-info/*
